<div class="flex flex-col flex-row items-center justify-cente flex-auto bg-gray-800">

    <div class="md:flex md:items-center md:justify-center w-full md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16">
        <div class="w-full max-w-100 sm:w-100 mx-auto bg-white p-8 sm:rounded-2xl">

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight text-center">eLearning Portal</div>
            <div class="mt-0.5 font-medium text-center">Recover your password</div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Forgot password form -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send reset link
                    </span>
                    <mat-progress-spinner
                        *ngIf="forgotPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
</div>
